<div class="container container-fluid">
    <p-toast></p-toast>
    <div class="row mt-5">
        <h3 class="text-center">About this application</h3>
        <hr>
    </div>
    <div class="row text-center">
        <p>Welcome to the coolest and yet functional Contacts Management system</p>
        <p>This system was developed by <b>Flyelmos</b> a.k.a <b>Emil Lalkovski</b>.</p>
        <p>If there are any further questions you can always find me at:</p>
    </div>
    <div class="d-flex flex-row justify-content-center">        
        <a class="mr-2" href="https://www.linkedin.com/in/emil-lalkovski-900a51141/">
            <i class="pi pi-linkedin f-3"></i>
        </a>
        <a class="mr-2" href="https://github.com/ELalkovski">
            <i class="pi pi-github f-3"></i>
        </a>
        <p>Or Email: <b>emo_55@abv.bg</b></p>
    </div>
</div>